.navbar a {
    font-weight: bold;
}

.navbar {
    align-items: center;
    justify-content: center;
    background-size: 200% 200%;
    background-image: linear-gradient(-45deg,
        rgba(255, 0, 0, 0.973) 1%,
        rgba(208, 0, 255, 0.68) 25%,
        rgba(191, 255, 0, 0.718) 51%,
        rgba(255, 0, 0, 0.746) 100%);
    animation: AnimateBG 10s ease infinite;
    box-shadow: 0 0 1em 0.1em rgb(255, 255, 255);
    z-index: 1;
    position: sticky;
    top: 0;
}

#bgr3 {
    background-image: linear-gradient(-45deg,
        rgba(0, 0, 0, 0.973) 1%,
        rgba(0, 17, 255, 0.68) 25%,
        rgba(204, 0, 255, 0.718) 51%,
        rgba(0, 0, 0, 0.746) 100%);
}